*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #5D5D5D;
}
/*主体部分开始*/
.main{
    width: 980px;
    height: 1386px;
    margin: 160px auto;
    background: white;
}

/*页眉开始*/
.yemei{
    width: 892px;
    height: 61px;
    margin: 0 44px;
    border-bottom: 2px solid #838e8c;
}

.yemei .logo{
    display: table-cell;
    width: 110px;
    height: 61px;
    background: #C75656;
    vertical-align: bottom;
    /*float: left;*/
}

.yemei .logo span{
    display: inline-block;
    text-indent: .5em;
    padding-bottom: 2px;
    font: 12px 黑体;
    color: #ffffff;
}

.yemei .time{
    display: table-cell;
    height: 61px;
    width: 110px;
    vertical-align: bottom;
    position: relative;
    left: 672px;
}

.yemei .time span{
    font: 12px 黑体; 
    color: d45d5c;
    align: right;
    padding-bottom: 2px;
    float: right;
}
/*页眉结束*/

/*中间阴影部分开始*/
.yinying_pic{
    width: 641px;
    height: 301px;
    background: url(img/3.jpg);
    margin: 35px 44px;
    float: left;
    /*overflow: hidden;*/
}

.yinying_pic .yinying_left{
    width: 191px;
    height: 301px;
    opacity: 0.5;
    background: blue;
    float: left;
}

.yinying_pic .yinying_right{
    width: 191px;
    height: 301px;
    opacity: 0.5;
    background: red;
    float: right;
}
/*中间阴影部分结束*/

.about{
    float: right;
    width: 203px;
    margin: 35px 44px;
    margin-left: 0px;
    border-top: 2px solid #cc8091;
}

.about p{
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 40px;
    font-size: 24px;
    color: #000000;
    font-style: 微软雅黑;
}
















/*主体部分结束*/